<div class="list-group list-group-flush">
  <a routerLink="/logs"
     class="list-group-item list-group-item-action">
    <span class="fa fa-fw fa-angle-right text-muted"></span>
    Log a Workout
  </a>
  <a routerLink="/cycles"
     class="list-group-item list-group-item-action">
    <span class="fa fa-fw fa-angle-right text-muted"></span>
    Create / View Workout Cycles
  </a>
  <a routerLink="/routines"
     class="list-group-item list-group-item-action">
    <span class="fa fa-fw fa-angle-right text-muted"></span>
    Create / Modify a Routine
  </a>
  <a routerLink="/exercises"
     class="list-group-item list-group-item-action">
    <span class="fa fa-fw fa-angle-right text-muted"></span>
    Create / Modify Exercises
  </a>
</div>
