<app-loading [loading]="clone == null"
             [title]="'Exercise'"></app-loading>
<form #exerciseForm="ngForm"
      *ngIf="clone != null">
  <app-exercise-group [exercise]="clone"></app-exercise-group>
  <app-exercise-category [exercise]="clone"></app-exercise-category>
  <app-exercise-name [exercise]="clone"></app-exercise-name>

  <div class="form-group text-right">
    <button type="button"
            secondaryButton
            (click)="cancel()">cancel</button>
    <button type="button"
            primaryButton
            (click)="save()"
            [disabled]="!exerciseForm.form.valid || saving">save</button>
  </div>
</form>
