<div class="form-group">
  <label> Workout Sets </label>
</div>
<div class="form-group">
  <app-log-exercise-set *ngFor="let set of exercise.sets; trackBy:trackByIndex; let index = index;"
                        [(expanded)]="expanded"
                        [(pattern)]="exercise.sets[index]"
                        [exercise]="exercise"
                        [index]="index"></app-log-exercise-set>
</div>
<div class="list-group list-group-flush pointer">
  <a addListGroupItem
     (click)="add()">
    add set
  </a>
</div>
