<input type="checkbox"
       class="side-menu-open"
       id="side-menu-open"
       [(ngModel)]="open">
<label for="side-menu-open"
       class="side-menu-toggle">
  <div class="spinner diagonal part-1"></div>
  <div class="spinner horizontal"></div>
  <div class="spinner diagonal part-2"></div>
</label>
<div id="side-menu">
  <ul class="side-menu">
    <li>
      <a href="#">Logs</a>
    </li>
    <li>
      <a routerLink="/routines">Routines</a>
    </li>
    <li>
      <a href="#">Plans</a>
    </li>
    <li>
      <a routerLink="/exercises">Exercises</a>
    </li>
  </ul>
</div>
