<app-loading [loading]="exercise == null"
             [title]="'Log'"></app-loading>
<form #routineForm="ngForm"
      *ngIf="exercise != null">
  <div class="form-group">
    <label>Exercise</label>
    <input name="exercise"
           class="form-control"
           [disabled]="true"
           [ngModel]="exercise.smartDisplay()" />
  </div>

  <app-log-exercise-sets [exercise]="exercise"></app-log-exercise-sets>

  <div class="form-group pt-3 text-right">
    <button type="button"
            secondaryButton
            (click)="cancel()">cancel</button>
    <button type="button"
            primaryButton
            (click)="save(false)"
            [disabled]="! saving">save</button>
  </div>
</form>
