<app-loading [loading]="exercises == null"
             [title]="'Cycle Exercises'"></app-loading>

<app-cycle-weeks-picker [cycle]="cycle"></app-cycle-weeks-picker>
<app-cycle-days-picker [cycle]="cycle"></app-cycle-days-picker>

<table class="table"
       [hidden]="exercises == null">
  <thead>
    <tr>
      <th style="width: 40%">Exercise</th>
      <th>Workout</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exercise of exercises">
      <td>
        {{ exercise.fullDisplay() }}
      </td>
      <td [innerText]="exercise.pattern"></td>
    </tr>
  </tbody>
  <tfoot *ngIf="cycle && cycle.canLogWorkout(week, day)">
    <tr>
      <td></td>
      <td>
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text">Select a Date</label>
          </div>
          <select class="custom-select"
                  [(ngModel)]="date">
            <option [value]="null">(select date)</option>
            <option *ngFor="let x of dates"
                    [ngValue]="x">
              {{ x.label }}
            </option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    (click)="logIt()">
              Log Workout
            </button>
          </div>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
