/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    background-color: #efefef;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
div.form-control {
  background-color: #eee;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}
.pointer {
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
}
.workout-sets {
  font-size: 1.05em;
  font-family: 'Inconsolata', monospace;
}
table th.create-col,
table td.create-col,
table th.update-col,
table td.update-col {
  width: 100px;
}
table th.select-col,
table td.select-col,
table th.select-col,
table td.select-col {
  width: 125px;
}

.drag-handler {
  width: 1.4em;
  position: relative;
  background-color: #E4E6EB;
  background-image: linear-gradient(45deg, #E4E6EB, #E4E6EB 2px, #fff 2px, #fff 4px, #E4E6EB 4px, #E4E6EB 9px, #fff 9px, #fff 11px, #E4E6EB 11px, #E4E6EB 16px, #fff 16px, #fff 18px, #E4E6EB 18px, #E4E6EB 22px);
  background-size: 10px 20px;
  cursor: move;
}

.drag-handler:active {
  background-image: linear-gradient(45deg, #bab86c, #bab86c 2px, #fff 2px, #fff 4px, #bab86c 4px, #bab86c 9px, #fff 9px, #fff 11px, #bab86c 11px, #bab86c 16px, #fff 16px, #fff 18px, #bab86c 18px, #bab86c 22px);
  background-size: 10px 20px;
}

.drag-class {
  border-width: 3px;
  background-color: lightgoldenrodyellow;
}

