@{
  ViewBag.Title = "Workout Plan Cycles";
}

@model WorkoutPlan

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th colspan="4">
            <a href="Url.Action(MVC.WorkoutPlanCycles.Create(Model.Id))" class="btn btn-sm btn-outline-success float-right">
              <i class="fa fa-fw fa-plus"></i> Create
            </a>
            Cycles
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var cycle in Model.Cycles.OrderByDescending(x => x.CycleId))
        {
          <tr>
            <td>
              @if (cycle.Status == StatusTypes.None)
              {
                <a href="@Url.Action(MVC.WorkoutPlanExercises.Index(Model.Id, cycle.CycleId))" style="display: block;">
                  Cycle #@cycle.CycleId
                </a>
              }
              else
              {
                <a href="Url.Action(MVC.WorkoutPlanLogs.Index(Model.Id, cycle.CycleId))" style="display: block;">
                  Cycle #@cycle.CycleId
                </a>
              }
            </td>
            <td style="width: 125px;" class="text-center">
              @if (cycle.Status == StatusTypes.None)
              {
                <a href="@Url.Action(MVC.WorkoutPlanExercises.Index(Model.Id, cycle.CycleId))" style="display: block;">
                  Setup
                </a>
              }
              else
              {
                <a href="Url.Action(MVC.WorkoutPlanLogs.Index(Model.Id, cycle.CycleId))" style="display: block;">
                  View Log
                </a>
              }
            </td>
            <td style="width: 125px;" class="text-center">
              @(cycle.CycleId + 1 == Model.Cycles.Count ? "Current" : "")
            </td>
            <td style="width: 125px;" class="text-right">
              @cycle.CreatedAt.ToString("d")
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>