<div class="form-group">
  <label for="days">Number of Days per Week</label>
  <select id="days"
          name="days"
          class="form-control"
          required
          [(ngModel)]="routine.days"
          [class.is-invalid]="days.invalid"
          #days="ngModel">
    <option [value]="null">(select days)</option>
    <option *ngFor="let day of totalDays"
            [ngValue]="day">
      {{ day }} Days per Week
    </option>
  </select>
  <div class="invalid-feedback"
       *ngIf="days.invalid && days.touched">
    <div *ngIf="days.errors.required">days is required</div>
  </div>
</div>
