<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary border-bottom">
  <a class="navbar-brand"
     routerLink="home">Vyger</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#mainNavBar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
       id="mainNavBar">
    <ul class="navbar-nav">
      <app-navigation-exercises></app-navigation-exercises>
    </ul>
    <ul class="navbar-nav ml-auto">
      <app-navigation-signin></app-navigation-signin>
      <app-navigation-loggedin></app-navigation-loggedin>
    </ul>
  </div>
</nav>
