@{
  ViewBag.Title = "Sign On";
}

<h1 class="page-title">@ViewBag.Title</h1>

<div class="row" id="sign-on"></div>

<div class="splash col-sm-12"></div>

@section Scripts {
  <script src="https://apis.google.com/js/platform.js"></script>
}
