<nav *ngIf="hasCrumbs()">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"
        *ngFor="let crumb of getCrumbs()"
        [class.active]="crumb.active">
      <a [routerLink]="crumb.path"
         *ngIf="!crumb.active">
        {{ crumb.title }}
      </a>
      <span *ngIf="crumb.active">
        {{ crumb.title }}
        <span class="text-muted"
              *ngIf="crumb.filter">
          <i class="fa fa-fw fa-filter"></i>
          {{ crumb.filter }}
        </span>
      </span>
    </li>
  </ol>
</nav>