<app-loading [loading]="routine == null"
             [title]="'Routine'"></app-loading>
<form #routineForm="ngForm"
      *ngIf="routine != null">
  <app-routine-exercise-day-of-week [routine]="routine"
                                    [exercise]="exercise"></app-routine-exercise-day-of-week>
  <app-routine-exercise-picker [routine]="routine"
                               [exercise]="exercise"></app-routine-exercise-picker>
  <app-routine-exercise-sets [routine]="routine"
                             [exercise]="exercise"></app-routine-exercise-sets>

  <div class="form-group text-right">
    <button type="button"
            secondaryButton
            (click)="cancel()">cancel</button>
    <button type="button"
            primaryButton
            (click)="save()"
            [disabled]="!routineForm.form.valid || saving">add</button>
  </div>
</form>
