<app-loading [loading]="clones == null"
             [title]="'Routine Exercises'"></app-loading>

<table class="table dnd-table"
       *ngIf="routine != null">
  <thead>
    <tr>
      <th class="text-center create-col">Week</th>
      <th>Exercise</th>
      <th style="width: 600px">Workout</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exercise of clones">
      <td class="text-center">#{{ exercise.week }}</td>
      <td>
        <a class="pointer float-right"
           href="#/routines/exercises/delete/{{ routine.id }}?exercise={{ exercise.id }}&day={{ day }}">
          <span class="fa fa-fw fa-times text-danger"></span>
        </a>
        <a href="#/routines/exercises/update/{{ routine.id }}?exercise={{ exercise.id }}&day={{ day }}">
          {{ exercise.fullDisplay() }}
        </a>
      </td>
      <td class="p-1">
        <input class="form-control workout-sets"
               [(ngModel)]="exercise.pattern" />
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        <a secondaryButton
           href="#/routines/exercises/{{ routine.id }}">
          cancel
        </a>
      </td>
      <td class="text-right">
        <button type="button"
                primaryButton
                (click)="save()"
                [disabled]="saving">save</button>
      </td>
    </tr>
  </tfoot>
</table>
