<app-loading [loading]="exercises == null"
             [title]="'Logs'"></app-loading>

<app-log-week-header *ngIf="exercises != null"></app-log-week-header>

<div class="row"
     *ngIf="exercises != null">
  <div class="col-lg-12 list-group list-group-flush">
    <a addListGroupItem
       routerLink="/logs/add"
       [queryParams]="{ date: ymd }">
      add exercise
    </a>
  </div>
  <div class="col-lg-12 list-group list-group-flush"
       [sortablejs]="exercises"
       [sortablejsOptions]="{ handle: '.sortablejs-handle', onUpdate: resequence }">
    <a class="list-group-item list-group-item-action"
       *ngFor="let exercise of exercises"
       routerLink="/logs/edit/{{ exercise.id }}"
       [queryParams]="{ date: ymd }">
      <div class="row">
        <div class="col-1">
          <span class="fa fa-fw fa-bars mr-2 sortablejs-handle"></span>
        </div>
        <div class="col-6">
          {{ exercise.shortDisplay() }}
          <span class="fa fa-fw fa-caret-up text-success"
                *ngIf="exercise.evaluation == 2"></span>
          <span class="fa fa-fw fa-caret-down text-danger"
                *ngIf="exercise.evaluation == -1"></span>
        </div>
        <div class="col-4 text-right"
             style="white-space:pre-wrap; font-size: smaller">
          <span [innerText]="exercise.sets.join('\n')"></span>
          <br />
          {{ exercise.oneRepMax | number:'1.0-0' }}RM#{{ exercise.oneRepMaxSet + 1 }}
        </div>
      </div>
    </a>
  </div>
</div>
