<div class="form-group">
  <label for="category">Category</label>
  <select id="category"
          name="category"
          class="form-control"
          required
          [(ngModel)]="exercise.category"
          [class.is-invalid]="category.invalid"
          #category="ngModel">
    <option [value]="null">(select category)</option>
    <option *ngFor="let category of categories"
            [value]="category">
      {{ category }}
    </option>
  </select>
  <div class="invalid-feedback"
       *ngIf="category.invalid && category.touched">
    <div *ngIf="category.errors.required">category is required</div>
  </div>
</div>
