<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-10 col-sm-12 mb-1">
    <button class="btn btn-outline-secondary mr-1"
            *ngIf="filter.group"
            (click)="toggleGroupFilter(filter)">
      Group = {{ filter.group }}
      <span class="fa fa-fw fa-times-circle text-muted ml-2"></span>
    </button>
    <button class="btn btn-outline-secondary mr-1"
            *ngIf="filter.category"
            (click)="toggleCategoryFilter(filter)">
      Category = {{ filter.category }}
      <span class="fa fa-fw fa-times-circle text-muted ml-2"></span>
    </button>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-10 col-sm-12">
    <table class="table table-sm">
      <thead>
        <tr>
          <th style="width: 6rem;">
            Group
            <span class="fa fa-fw fa-xs fa-filter text-muted ml-1"></span>
          </th>
          <th style="width: 6rem;">
            Category
            <span class="fa fa-fw fa-xs fa-filter text-muted ml-1"></span>
          </th>
          <th>
            Exercise
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exercise of getExercises()">
          <td class="filterable pointer"
              (click)="toggleGroupFilter(exercise)">
            {{ exercise.group }}
          </td>
          <td class="filterable pointer"
              (click)="toggleCategoryFilter(exercise)">
            {{ exercise.category }}
          </td>
          <td [innerText]="exercise.name"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
