@{
  ViewBag.Title = "Workout Logs";
}

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <div id="calendar"></div>
  </div>
</div>

@section Scripts {
  <script type="text/javascript">
    $(function ()
    {
      $('#calendar').fullCalendar({
        themeSystem: 'bootstrap4',
        header: {
          left: 'prev,next',
          center: 'title',
          right: 'today'
        },
        events: '@Url.Action("Events")',

        dayClick: function (date, jsEvent, view)
        {
          var url = '@Url.Action("Details")?date=' + date.format();

          window.location.href = url;
        }
      });
    });
  </script>
}