<div class="form-group"
     *ngIf="routine && exercise">
  <label for="day">Day of Week</label>
  <select id="day"
          name="day"
          class="form-control"
          required
          [(ngModel)]="exercise.day"
          [class.is-invalid]="day.invalid"
          #day="ngModel">
    <option [value]="null">(select day of week)</option>
    <option *ngFor="let day of getDaysOfWeek()"
            [ngValue]="day">
      Day {{ day }}
    </option>
  </select>
  <div class="invalid-feedback"
       *ngIf="day.invalid && day.touched">
    <div *ngIf="day.errors.required">day is required</div>
  </div>
</div>
