@model ExerciseForm

<div class="form-group">
  @Html.DropDownListFor(m => m.GroupId, Model.Groups.ToSelectList(Model), "(exercise group)", new { @class = "form-control" })
  @Html.ValidationMessageFor(m => m.GroupId, "", new { @class = "form-text text-danger" })
</div>
<div class="form-group">
  @Html.TextBoxFor(m => m.ExerciseName, new { @class = "form-control", placeholder = "exercise name" })
  @Html.ValidationMessageFor(m => m.ExerciseName, "", new { @class = "form-text text-danger" })
</div>
