@{
  ViewBag.Title = "Members";
}

<h1 class="page-title">@ViewBag.Title</h1>

<div class="row" id="members"></div>

@section Scripts {
  <script type="text/javascript">
        //m.mount(document.getElementById('members'), Sniper.Components.MemberIndex);
  </script>
}