<%- . ($config.Templates + "/_Utilities.ps1") -%>
<%- $config.OutFile = "Views/$class_names/_Details.cshtml" -%>
@model <%= $class_name %>

<%- foreach ($column in $columns) { -%>
<div class="form-group">
  @Html.TextBoxFor(m => m.<%= $column.Name | Pascal %>, new { @class = "form-control", placeholder = "<%= $column.Name | Label | Lower %>" })
  @Html.ValidationMessageFor(m => m.<%= $column.Name | Pascal %>, "", new { @class = "form-text text-danger" })
</div>
<%- } -%>
