<app-loading [loading]="cycles == null"
             [title]="'Cycles'"></app-loading>
<div class="row">
  <div class="col-lg-12 list-group list-group-flush"
       [hidden]="cycles == null">
    <a addListGroupItem
       routerLink="/cycles/add">
      add cycle
    </a>
    <a class="list-group-item list-group-item-action"
       *ngFor="let cycle of cycles"
       routerLink="/cycles/inputs/{{ cycle.id }}">
      <div class="row">
        <div class="col">{{ cycle.name }}</div>
        <div class="col-2">{{ cycle.lastLogged }}</div>
        <div class="col-2 text-right"># {{ cycle.sequence }}</div>
      </div>
    </a>
  </div>
</div>
