<app-loading [loading]="routines == null"
             [title]="'Routines'"></app-loading>

<form #cycleForm="ngForm"
      *ngIf="routines">
  <div class="form-group">
    <label for="routineId">Select Routine</label>
    <select id="routineId"
            name="routineId"
            class="form-control"
            required
            [(ngModel)]="routine"
            [class.is-invalid]="routineId.invalid"
            #routineId="ngModel">
      <option [value]="null">(select routine)</option>
      <option *ngFor="let x of routines"
              [ngValue]="x">
        {{ x.name }}
      </option>
    </select>
    <div class="invalid-feedback"
         *ngIf="routineId.invalid && routineId.touched">
      <div *ngIf="routineId.errors.required">routine is required</div>
    </div>
  </div>

  <div class="form-group text-right">
    <button type="button"
            secondaryButton
            (click)="cancel()">cancel</button>
    <button type="button"
            primaryButton
            (click)="save()"
            [disabled]="!cycleForm.form.valid || routine == null || saving">add</button>
  </div>
</form>
