{% import 'types.j2' as types -%}
{% import 'names.j2' as names with context -%}
<app-loading [loading]="{{ names.var_names() }} == null"
             [title]="'{{ names.base_classes() | label_case }}'"></app-loading>

<table class="table"
       [hidden]="{{ names.var_names() }} == null">
  <thead>
    <tr>
      {% for column in table.columns -%}
      <th>{{ column.name | label_case }}</th>
      {% endfor %}
      <th>
        <a class="btn btn-outline-success float-right" 
           routerLink="/{{ names.base_classes() | camel_case }}/create">
          Create
        </a>
      </th>
    </tr>
  </thead>
  <tr *ngFor="let {{ names.base_classes() | camel_case }} of {{ names.base_classes() | camel_case | plural }}">
    {% for column in table.columns -%}
    <td [innerText]="{{ names.var_name() }}.{{ column.name | camel_case }}"></td>
    {% endfor %}
    <td class="create-col">
      <a class="btn btn-outline-secondary float-right"
         routerLink="/{{ names.base_classes() | camel_case }}/update/stub-id">
        Update
      </a>
    </td>
  </tr>
</table>