body {
    padding-top: 80px;
    margin-bottom: 60px;
    background-color: #f7f7f7;
}

body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

table.table th.navigation,
table.table td.navigation {
    text-align: center;
    width: 100px;
}

table.table-sortable tr {
    cursor: pointer;
}

table.table-sortable tr.placeholder {
    display: block;
    background: red;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

table.table-sortable tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none;
}

.pointer {
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /*line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #007da0;
    font-family: Montserrat, Lato, Verdana, Geneva, Tahoma, sans-serif;
}

a.icon-google {
    margin-right: 10px;
    background: #dc4b38 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
    line-height: 22px;
    padding: 7px 15px;
    vertical-align: middle;
}

a.icon-google:hover {
    color: #ccc;
}

a.icon-google .fab.fa-google {
    font-size: 19px;
    padding-right: 16px;
    padding-top: 2px;
    vertical-align: top;
    display: inline-block;
}

input.workout-pattern,
textarea.workout-pattern {
    font-family: Roboto, Arial, sans-serif;
    font-size: .9em;
}


.drag-handler {
    width: 16px;
    position: relative;
    background-color: #E4E6EB;
    background-image: linear-gradient(45deg, #E4E6EB, #E4E6EB 2px, #fff 2px, #fff 4px, #E4E6EB 4px, #E4E6EB 9px, #fff 9px, #fff 11px, #E4E6EB 11px, #E4E6EB 16px, #fff 16px, #fff 18px, #E4E6EB 18px, #E4E6EB 22px);
    background-size: 10px 20px;
    cursor: move;
}

.drag-handler:active {
    background-image: linear-gradient(45deg, #bab86c, #bab86c 2px, #fff 2px, #fff 4px, #bab86c 4px, #bab86c 9px, #fff 9px, #fff 11px, #bab86c 11px, #bab86c 16px, #fff 16px, #fff 18px, #bab86c 18px, #bab86c 22px);
    background-size: 10px 20px;
}
