@{
  ViewBag.Title = "Categories";
}

@model IList<ExerciseCategory>

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th>
            <a href="@Url.Action(MVC.ExerciseCategories.Create())" class="btn btn-sm btn-outline-success float-right">
              <i class="fa fa-fw fa-plus"></i> Create
            </a>
            Exercise Category
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var category in Model.OrderBy(x => x.Name))
        {
          <tr>
            <td>
              <a href="@Url.Action(MVC.ExerciseCategories.Edit(category.Id))" style="display: block;">
                @category.Name
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
