@{
  ViewBag.Title = "Categories";
}

@model IList<ExerciseCategory>

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">
            Exercise Category
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var category in Model.OrderBy(x => x.Name))
        {
          <tr>
            <td>
              <a href="@Url.Action("Edit", new { id = category.Id })" style="display: block;">
                @category.Name
              </a>
            </td>
            <td class="text-right">
              <a href="@Url.Action("Index", "Exercises", new { categoryId = category.Id })">
                exercises
              </a>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <a href="@Url.Action("Create")" class="btn btn-sm btn-outline-success float-right">
              <i class="fa fa-fw fa-plus"></i> Create
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
