<app-loading [loading]="exercise == null"
             [title]="'Routine Exercise'"></app-loading>

<form class="col-lg-6 col-md-6 mx-auto"
      *ngIf="exercise != null"
      #routineExerciseForm="ngForm">
  <div class="form-group mb-1">
    <div class="form-control">
      Delete {{ exercise.fullDisplay()}}
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col pull-left">
      <button type="button"
              secondaryButton
              (click)="cancel()">cancel</button>
    </div>
    <div class="col text-right">
      <button type="button"
              dangerButton
              (click)="delete()"
              [disabled]="!routineExerciseForm.form.valid || saving">delete</button>
    </div>
  </div>
</form>
