@model ExerciseGroup

<div class="form-group">
  @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "group name" })
  @Html.ValidationMessageFor(m => m.Name, "", new { @class = "form-text text-danger" })
</div>
