<app-loading [loading]="routine == null"
             [title]="'Routine'"></app-loading>

<form class="col-lg-6 col-md-6 mx-auto"
      #routineForm="ngForm">
  <app-routine-name [routine]="routine"></app-routine-name>
  <app-routine-weeks [routine]="routine"></app-routine-weeks>
  <app-routine-days [routine]="routine"></app-routine-days>
  <app-routine-pattern [routine]="routine"></app-routine-pattern>

  <div class="form-group form-row">
    <div class="col pull-left">
      <button type="button"
              secondaryButton
              (click)="cancel()">cancel</button>
    </div>
    <div class="col text-right">
      <button type="button"
              primaryButton
              (click)="save()"
              [disabled]="!routineForm.form.valid || saving">save</button>
    </div>
  </div>
</form>
