<form #exerciseForm="ngForm">
  <app-exercise-group [exercise]="exercise"></app-exercise-group>
  <app-exercise-category [exercise]="exercise"></app-exercise-category>
  <app-exercise-name [exercise]="exercise"></app-exercise-name>

  <div class="form-group text-right">
    <button type="button"
            secondaryButton
            (click)="cancel()">cancel</button>
    <button type="button"
            primaryButton
            (click)="save()"
            [disabled]="!exerciseForm.form.valid || saving">add</button>
  </div>
</form>
